
<div class="jumbotron">
    <h3>{{title}}</h3>
    <h6>Description</h6>
    <p>{{ type.description }}</p>
    <h6>Rate</h6>
    <p>{{ type.rate }}</p>
    <div class="btn-group" role="group" aria-label="...">
        <a ng-href="#!/boardingTypes/:boardingTypeId/edit"><button class="btn btn-primary btn-lg" >Create</button></a>
        <a><button class="btn btn-danger btn-lg" ng-click="deleteBoardingType(type.id)">Delete</button></a>
        <a ng-href="#!/boardingTypes/:boardingTypeId/edit"><button class="btn btn-primary btn-lg" ng-href="/boardingTypes/:boardingTypeId/edit">Edit</button></a>
    </div>
</div>
<!--</div>-->
