

        <div class="jumbotron">
            <h3>{{title}}</h3>
            <h6>Description</h6>
            <p>{{ type.description }}</p>
            <h6>Rate</h6>
            <p>{{ type.rate }}</p>
            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-danger btn-lg" ng-click="deleteBoardingType(type.id)">Delete</button>
                <button class="btn btn-primary btn-lg" ng-href="#!/boardingTypes/{{type.id}}/edit">Edit</button>
            </div>
        </div>
        <!--</div>-->
