<h3>{{title}}</h3>
<form>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Status
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-href="#!">Court</a></li>
            <li><a ng-href="#!">Adoptable</a></li>
            <li><a ng-href="#!">Returned to Owner</a></li>
            <li><a ng-href="#!">Adopted</a></li>
            <li><a ng-href="#!">Deceased</a></li>
            <li><a ng-href="#!">Ownership</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" aria-label="...">
                </span>
                <input type="text" class="form-control" placeholder="Adopter" aria-label="...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


        <div class="col-lg-6">
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="...">
      </span>
                <input type="text" class="form-control" placeholder="Case" aria-label="...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="form-group">
        <label>Horse Haven ID</label>
        <input type="text" class="form-control" placeholder="Horse Haven ID" ng-model="horse.horseHavenId"/>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Horse's Name" ng-model="horse.name"/>
    </div>
    <div class="form-group">
        <label>Breed</label>
        <input type="text" class="form-control" placeholder="Breed" ng-model="horse.breed"/>
    </div>
    <div class="form-group">
        <label>Color</label>
        <input type="text" class="form-control" placeholder="Color" ng-model="horse.color"/>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gender <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-model="horse.gender.stallion" href="#">Stallion</a></li>
            <li><a ng-model="horse.gender.gelding" href="#">Gelding</a></li>
            <li><a ng-model="horse.gender.mare" href="#">Mare</a></li>
        </ul>

        <div class="btn-group" role="group" aria-label="...">
            <button ng-href="#!" type="button" class="btn btn-default">Add Weight</button>
            <button ng-href="#!" type="button" class="btn btn-default">Add Service</button>
        </div>
    </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" placeholder="Age" ng-model="horse.age"/>
        </div>
        <div class="form-group">
            <label>County Of Origin</label>
            <input type="text" class="form-control" placeholder="County of Origin" ng-model="horse.countyOfOrigin"/>
        </div>
        <div class="form-group">
            <label>Arrival Date</label>
            <input type="datetime-local" class="form-control" placeholder="Arrival Date" ng-model="horse.arrivalDate"/>
        </div>
        <div class="form-group">
            <label>Departure Date</label>
            <input type="datetime-local" class="form-control" placeholder="Departure Date" ng-model="horse.departureDate"/>
        </div>
        <div class="form-group">
            <label>Eligible for Ownership Date</label>
            <input type="datetime-local" class="form-control" placeholder="Eligible for Ownership Date" ng-model="horse.eligibleForOwnershipDate"/>
        </div>
        <div class="text-center">
            <button class="btn btn-default" ng-click="submitHorse()">{{submitButtonText}}</button>
        </div>
</form>


